.container {
  background-color: skyblue;
  min-width: 100vmin;
  min-height: 100vmin;
  padding-top: 2%;
}

.heading {
  text-align: center;
  position: relative;
}

.tabClass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

mat-tab-group {
  width: 35%;
}

button {
  margin-left: 4%;
  margin-right: 4%;
}
