.container {
  background-color: skyblue;
  min-width: 100vmin;
  min-height: 100vmin;
  padding-top: 2%;
}

.heading {
  text-align: center;
  position: relative;
}

.tabClass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

mat-tab-group {
  width: 35%;
}

button {
  margin-left: 4%;
  margin-right: 4%;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
	opacity: 0.5 !important;     /*click effect color change*/
	background-color: rgba(255, 255, 255, 0) !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: #283593!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:#283593!important; /*outer ring color change*/
}

